
.icon-left:before { content: '\e800'; } /* '' */
.icon-right:before { content: '\e801'; } /* '' */
.icon-up:before { content: '\e802'; } /* '' */
.icon-down-dir:before { content: '\e803'; } /* '' */
.icon-left-dir:before { content: '\e804'; } /* '' */
.icon-right-dir:before { content: '\e805'; } /* '' */
.icon-up-dir:before { content: '\e806'; } /* '' */
.icon-down-bold:before { content: '\e807'; } /* '' */
.icon-left-bold:before { content: '\e808'; } /* '' */
.icon-right-bold:before { content: '\e809'; } /* '' */
.icon-up-bold:before { content: '\e80a'; } /* '' */
.icon-down-thin:before { content: '\e80b'; } /* '' */
.icon-left-thin:before { content: '\e80c'; } /* '' */
.icon-right-thin:before { content: '\e80d'; } /* '' */
.icon-up-thin:before { content: '\e80e'; } /* '' */
.icon-user-add:before { content: '\e817'; } /* '' */
.icon-down-circled:before { content: '\e819'; } /* '' */
.icon-left-circled:before { content: '\e827'; } /* '' */
.icon-right-circled:before { content: '\e828'; } /* '' */
.icon-up-circled:before { content: '\e829'; } /* '' */
.icon-down-open:before { content: '\e82a'; } /* '' */
.icon-left-open:before { content: '\e82b'; } /* '' */
.icon-right-open:before { content: '\e82c'; } /* '' */
.icon-up-open:before { content: '\e82d'; } /* '' */
.icon-down-open-mini:before { content: '\e82e'; } /* '' */
.icon-left-open-mini:before { content: '\e82f'; } /* '' */
.icon-right-open-mini:before { content: '\e830'; } /* '' */
.icon-up-open-mini:before { content: '\e831'; } /* '' */
.icon-down-open-big:before { content: '\e832'; } /* '' */
.icon-left-open-big:before { content: '\e833'; } /* '' */
.icon-right-open-big:before { content: '\e834'; } /* '' */
.icon-up-open-big:before { content: '\e835'; } /* '' */
.icon-down:before { content: '\e836'; } /* '' */
